.submit {
    display: flex;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    margin-top: 14px;
    height: 42px;
    width: 426px;
    border: none;
    color: white;
    cursor: pointer;
    
  }
  
  .btn_purple{
    background: linear-gradient(90deg, #763af5 0%, #a604f2 117.18%);
  }
  
  .btn_connectVia{
    background: linear-gradient(90deg, #4d06e6 0%, #9f11e1 117.18%);
  }