* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
/*-------- HEADER SECTION ------*/
header {
  height: 70px;
  background-color: rgb(37, 36, 36);
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  height: 80%;
}

header nav {
  display: none;
}

.menu-icon {
  font-size: 24px;
  text-align: right;
  cursor: pointer;
  display: block;
}

header ul li {
  justify-content: space-between;
  list-style: none;
  margin-right: 20px;
  display: inline;
}

/*-------- HERO SECTION ------*/
.hero {
  width: 100%;
  /* height: 500px; */
  background-image: url("./assets/topDark.jpg");
  color: rgba(255, 255, 255, 0.929);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 120px 0;
}

.hero h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 200;
  span {
    /* color: #bc0034; */
    font-weight: 500;
  }
}

.hero h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 200;
  margin-bottom: 10px;
}

.hero h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 200;
  margin-bottom: 15px;
}

.search-box {
  max-width: 550px;
  margin: 15px auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input {
  width: 70%;
  outline: none;
  padding: 10px;
  border: 0;

  border-radius: 10px 0 0 10px;
  border: 1px solid #bc0034;
  font-size: 1rem;
}

.search-box button {
  padding: 10px 20px;

  outline: none;
  border: 0;
  background-color: #bc0034;
  border-radius: 0px 10px 10px 0px;
  font-size: 1rem;
  color: aliceblue;
  cursor: pointer;
}

/*-------- RECIPE SECTION ------*/

.recipe-section {
  margin: auto 50px;
  /* padding: 50px 0; */
}
.featured-recipe {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 30px 0;
}
.recipe-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  margin: 30px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 8px #cac8c8;
}

.name {
  font-weight: 500;
  padding: 10px;
}
.description {
  font-weight: 100;
  padding: 10px;
}
.card a {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgb(37, 36, 36);
  color: white;
  padding: 10px 0;
  cursor: pointer;
  margin-top: auto;
}
.dish-Img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*-------- footer section ------*/
footer {
  text-align: center;
  background-color: rgb(37, 36, 36);
  padding: 10px;
  color: white;
  height: 50px;
}

footer p {
  font-weight: 300;
}

@media only screen and (min-width: 767px) {
  .menu-icon {
    display: none;
  }
  header nav {
    display: block;
  }
}
